@use "@/styles/globalVariables";
@use "@/styles/FormStyles/input";

.GenericInputContainer {
    position: relative;
    display: inline-block;
    .input {
        width: 15rem;
        @include input.inputBar;
    }
    .input:focus {
        @include input.inputBarFocus
    }
    .message {
        top: 3rem;
        color: red;
        position: absolute;
    }
}